{ margin: 3% 16px;
    padding: 0% 24px;
font-size: 24px}
.cabecalho {background-color: aquamarine rgb(206, 157, 157);}
display:flex;
justify-content: space-around; padding: 2% 24px;}
.cabecalho-imagem{width: 10%;}
.cabecalho-lista-item{display: inline-block;margin: 0% 16px;
}
.imagem-escola {width: 25%;}
.escola{background-image:linear-gradient(aquamarine,pink,(216, 13, 13));}